Repository MohammedHamzaMalik/Coding-Ninjas-Competitive-Programming, pull requests merged in 2022-10, with the labels that each got.

#3 Created contributing.md
  contributing.md
Labels: documentation, hacktoberfest, hacktoberfest-accepted, hacktoberfest2022

#5 Updates
  README.md
  contributing.md
Labels: documentation, hacktoberfest, hacktoberfest-accepted, hacktoberfest2022

#8 Created Winner Of Candies.cpp
  Competitive-Programming/Game Theory/Winner Of Candies.cpp
Labels: hacktoberfest, cpp, hacktoberfest-accepted, hacktoberfest2022

#10 Created CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation, hacktoberfest, hacktoberfest-accepted, hacktoberfest2022

#11 Modified readme.md
  README.md
  contributing-1.md
Labels: documentation, hacktoberfest, hacktoberfest-accepted, hacktoberfest2022

#12 Created Game of Nim.cpp
  Competitive-Programming/Game Theory/Game of Nim.cpp
Labels: hacktoberfest, cpp, hacktoberfest-accepted, hacktoberfest2022

#13 Create LICENSE.md
  LICENSE.md
Labels: documentation, hacktoberfest, hacktoberfest-accepted, hacktoberfest2022

#14 Divya5003
  Competitive-Programming/Array I/Duplicate In Array.cpp
  Competitive-Programming/Array I/First and Last Position of an Element In Sorted Array.cpp
  Competitive-Programming/Array I/Intersection Of Two Sorted Arrays.cpp
  Competitive-Programming/Array I/Reverse The Array.cpp
  Competitive-Programming/Array I/Search In Rotated Sorted Array.cpp
Labels: hacktoberfest, cpp, hacktoberfest-accepted, hacktoberfest2022

#15 coding-ninjas-cp
  Competitive-Programming/Game Theory/Single row Checkers.cpp
  Introduction-to-CPP/Patterns 2/Diamond of Stars.cpp
Labels: hacktoberfest, cpp, hacktoberfest-accepted, hacktoberfest2022

#19 Python Codes for Array I are added
  Competitive-Programming/Array I/Duplicate in Array.py
  Competitive-Programming/Array I/First and Last Position of an Element in a Sorted Array.py
  Competitive-Programming/Array I/Intersection of Two Sorted Arrays - Duplicates.py
  Competitive-Programming/Array I/Intersection of Two Sorted Arrays.py
  Competitive-Programming/Array I/Reverse an Array.py
  Competitive-Programming/Array I/Search in a Rotated Sorted Array.py
Labels: hacktoberfest, python, hacktoberfest-accepted, hacktoberfest2022

#21 Added STL
  Competitive-Programming/STL/Array.cpp
  Competitive-Programming/STL/List.cpp
  Competitive-Programming/STL/Priorityquene.cpp
  Competitive-Programming/STL/Set.cpp
  Competitive-Programming/STL/Stack.cpp
  Competitive-Programming/STL/Vector.cpp
  Competitive-Programming/STL/dequeue.cpp
  Competitive-Programming/STL/queue.cpp
Labels: hacktoberfest, cpp, hacktoberfest-accepted, hacktoberfest2022

#22 Maximum_Subarray_Sum solution
  Competitive-Programming/Array I/Maximum_Subarray_Sum.cpp
Labels: hacktoberfest, cpp, hacktoberfest-accepted, hacktoberfest2022

#23 Solution to Findpatterninstring-KMP Algorithm
  Competitive-Programming/String I/Findpatternistring-KMPalgorithm.cpp
Labels: hacktoberfest, cpp, hacktoberfest-accepted, hacktoberfest2022

#25 Added by keshav-guptaa
  Competitive-Programming/Array I/count_all_subarrays_having_sum_divisible_by_k.cpp
Labels: hacktoberfest, cpp, hacktoberfest-accepted, hacktoberfest2022

#24 Create SudokuSolver.py
  backtracking/SudokuSolver.py
Labels: hacktoberfest, python, hacktoberfest-accepted, hacktoberfest2022

#27 Permutations of a String
  Competitive-Programming/String I/StringPermutation.cpp
Labels: hacktoberfest, cpp, hacktoberfest-accepted, hacktoberfest2022

#28 Create ReversePairs.py
  Competitive-Programming/Array I/ReversePairs.py
Labels: hacktoberfest, python, hacktoberfest-accepted, hacktoberfest2022

#32 Added solution to Permutations of an array in cpp
  Competitive-Programming/Array I/permutations.cpp
Labels: hacktoberfest, cpp, hacktoberfest-accepted, hacktoberfest2022

#33 Add SanyamAgrawal07
  Competitive-Programming/Dynamic Programming I/Partition a set into two subsets such that the difference of subset sums is minimal.cpp
  Competitive-Programming/Dynamic Programming I/Partitions with given difference.cpp
Labels: hacktoberfest, cpp, hacktoberfest-accepted, hacktoberfest2022

#26 Added SortInWaveForm.cpp
  Competitive-Programming/Array I/SortInWaveForm.cpp
Labels: hacktoberfest, cpp, hacktoberfest-accepted, hacktoberfest2022

#34 Pair Sum Solution
  Competitive-Programming/Array I/pair_sum.cpp
Labels: hacktoberfest, cpp, hacktoberfest-accepted, hacktoberfest2022

#35 Added solution for "Check for Mirror Trees" in Python
  Competitive-Programming/Tree I/Check for Mirror Tree.py
Labels: hacktoberfest, python, hacktoberfest-accepted, hacktoberfest2022

#31 Create Number of Binary Tree.cpp
  Competitive-Programming/Dynamic Programming I/No. of balanced BTs.cpp
Labels: hacktoberfest, cpp, hacktoberfest-accepted, hacktoberfest2022

#37 added convert to lower case
  Competitive-Programming/Array I/convert to Lower Case.cpp
Labels: hacktoberfest, cpp, hacktoberfest-accepted, hacktoberfest2022

#38 swap two number using Dynamic allocation
  Competitive-Programming/Dynamic Programming I/swap two numbers.cpp
Labels: hacktoberfest, cpp, hacktoberfest-accepted, hacktoberfest2022
